.nav{
  background-color: whitesmoke;
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navContainer{
  display: flex;
}

.navContainer li {
  list-style-type: none;
  margin-right: 25px;
}

.navContainer a{
  text-decoration: none;
  color: black;
}

.logo a{
  text-decoration: none;
  color: black;
}

.container{
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}